*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

.centered-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.auth-container h3{
    font-family: Arial,sans-serif;
    font-size: 20.1px;
    margin-top: 10px;
    font-weight: bolder;
    margin-bottom: 12px;
    color: black;
    display: flex;
    justify-content: center;
}

.auth-container{
    background: wheat;
    padding: 60px;  
    border: 3px solid;
    display: flex;
    flex-direction: column;
}

.auth-container input{
    width: 220px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.auth-container button{
    margin-top: 10px;
    padding: 3px;
    background-color:rgb(228, 193, 188);
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
    width: 100px;
    align-self: center;
}

.centered-container button :hover{
color: darkgray;
}

.auth-container a{
    font-size: 18px;
}